[2015-05-14 12:24] otupman opened #3 "Webmock interferes with coverage transmission"
Code coverage transmission gets interfered with by HTTP mocking frameworks such as [Webmock](https://github.com/bblimke/webmock).

Delightfully, Coveralls [have a workaround](https://github.com/lemurheavy/coveralls-public/issues/2) that can be used:

    WebMock.disable_net_connect! allow: %w{codecov.io}

I feel it's probably something worth mentioning on the documentation, if only to save others

[2015-05-14 12:31] stevepeak commented on #3
Thank you @otupman, is this something I can add to the code base? Or just documentation.

[2015-05-14 12:49] otupman commented on #3
Hmm, good question. That particular line itself is purely for documentation purposes, however Coveralls also have [a built-in fix for it](https://github.com/lemurheavy/coveralls-ruby/blob/87bde674f36ed4b590fd846be8370b9642b636fd/lib/coveralls/api.rb#L37):

      if defined?(WebMock) &&
        allow = WebMock::Config.instance.allow || []
        WebMock::Config.instance.allow = [*allow].push API_H

[2015-05-14 14:50] stevepeak commented on #3
Thanks for the snippit - I'll add it to the code base soon or you can contribute it :) I'm not sure about the `testunit` running parallel... Are my tests failing?

[2015-05-16 00:59] #3 closed

[2015-07-15 15:28] ziggurat opened #4 "Report file not being generated"
I am getting this after running rspec:

    {"url": "http://codecov.io/bitbucket/prodetotal/prodetotal?    ref=182376c518e87447a8c73a91a8bae1526cc59c4c", "meta": {"status": 200, "request": "400cf6a4-1c95-    437e-a1ca-ef7d3dafc939"}, "uploaded": true, "queued": true, "message": "Coverage reports upload     successfully"}

But still no report on the site. If I run the bash command manually I got:

[2015-07-16 13:56] stevepeak commented on #4
Hey @ziggurat currently the Bash uploader is not compatible with Ruby. I will work to support it in the near future but for now you'll need to follow the directions on the readme to integrate with Codecov: https://github.com/codecov/codecov-ruby/blob/master/README.md

Thanks!

[2015-07-16 14:00] ziggurat commented on #4
Hi @stevepeak . I have a bitbucket project and a CI environment in CodeShip. Evetyhing is configured as indicated in the readme but I still get "No reports uploaded" and the instructions are to use the bash script. Any hints?

[2015-07-17 14:51] stevepeak commented on #4
@ziggurat can you try to push us another build. I saw an issue with building your report that I have fixed. Thank you!

[2015-07-17 14:57] justmatt opened #5 "uninitialized constant SimpleCov::Formatter::Codecov::API_HOST"
[code]

https://github.com/codecov/codecov-ruby/blob/master/lib/codecov.rb#L264

[2015-07-17 15:01] stevepeak commented on #5
Thanks for showing this to me. I'll fix promptly.

[2015-07-17 15:03] #5 closed

[2015-07-17 15:05] stevepeak commented on #5
Deployed `0.0.12` Thank you!

[2015-07-17 15:06] ziggurat commented on #4
@stevepeak Perfect!! It's working now. Thanks!!

[2015-07-17 15:06] #4 closed

[2015-07-17 20:24] justmatt opened #6 "VCR: Unhandled Request"
Related to #5

![update_codecov_for_fix_ _inpharmd_inpharmd_ _codeship](https://cloud.githubusercontent.com/assets/426173/8756440/49bec902-2ca0-11e5-99ce-ad5a6e98105e.png)

[2015-07-17 21:06] stevepeak commented on #6
I'm a novice at ruby, may I ask that you checkout the [source code](https://github.com/codecov/codecov-ruby/blob/master/lib/codecov.rb) to see if there is something needed to be fixed? Thanks!

[2015-08-11 17:31] #6 closed

[2015-11-11 16:24] vaneyckt opened #8 "get filename relative to git repo instead of SimpleCov.root"
Heyo,

[this line](https://github.com/codecov/codecov-ruby/blob/master/lib/codecov.rb#L260) only gives back correct info if your rails project is at the root of your github repo.

If the rails project is not at the root, then it might be better to use

[code]

instead of

[code]

[2015-11-11 16:32] stevepeak commented on #8
Hey, thank you for the suggestion. I'll give it a shot.
PS awesome avatar :+1:

[2015-11-11 16:37] vaneyckt commented on #8
haha. Thanks Steve :). I'm worried that my suggestion will only work for git repos though. So perhaps it might be good to have some kind of fallback to the current behaviour if the code is not being run from a git repo? [Possible way to check for a git repo](http://stackoverflow.com/a/2044677/1420382).

[2015-11-11 16:37] vaneyckt commented on #8
oh wait, what am I saying `git rev-parse HEAD` is the wrong command. Gimme a sec to get my head straight.

[2015-11-11 16:38] vaneyckt commented on #8
[code]

is the command you want. Apologies. It's been a long day :).

[2015-11-11 16:39] vaneyckt commented on #8
gah

[code]

that's the one.

[2015-11-11 16:40] stevepeak commented on #8
Ok, I see. :) I like the technique here. I'll need to add this same concept to the other uploadering utils too. Thanks!

[2015-11-11 17:04] vaneyckt commented on #8
I just realized I might be able to monkeypatch Simplecov and have the `root` method return the root of the git repo. I'll let you know if I can get that working as a work-around. If it does, you could put it in the docs somewhere. The nice thing about that approach would be that you would not need to modify any code.

[2015-11-11 17:34] vaneyckt commented on #8
I feel really dumb about me opening this issue now. In the end I could just solve the problem by monkeypatching the relevant codecov-ruby call. Currently my `spec_helper.rb` file looks as follows.

[code]

Alternatively, it is possible to change the outpout of `SimpleCov.root` by calling `SimpleCov.root(<path to new root>)`, but I cannot recommend this approach as a workaround as your customers mi

[2015-11-11 17:36] stevepeak commented on #8
Honestly this is good stuff! My goal is to make this process so simple that monkey patches are never needed.

I'll review these concepts and improve the process accordingly :+1:

[2015-11-11 17:40] vaneyckt commented on #8
thanks Steve. I've said it before, but the CodeCov tools really show a lot of thought having gone into them. I especially liked how this ruby gem even has functionality to deal with scenarios caused by people forgetting to disable WebMock for the codecov endpoint. Those things matter a lot when you're integrating a coverage tool. Keep up the amazing work!

[2015-11-15 15:03] stevepeak commented on #8
Thanks @vaneyckt :) We are really trying to make this a simple and streamline product! :+1:

[2016-06-21 00:26] iamliamnorton opened #13 "Changelog update"
Just wondering if we could get the changelog updated? I'm seeing version changes in the gem but cannot see the commits or changelog entries.

[2016-07-12 17:02] dwbutler opened #14 "Error handling"
Today I started seeing errors from Codecov in my Travis CI build. (See attached.) There is no way to rescue the error. The codecov gem should rescue errors and output a warning, instead of causing the build to fail.

[code]

[2016-07-12 17:32] stevepeak commented on #14
Hey @dwbutler there was a Travis API outage this morning which may have caused this. Uploads were essentially rejected because the API was returning 500's.

Have you seen this issue in recent builds?

[2016-07-12 21:57] dwbutler commented on #14
Yes, there were outages across the board due to outages in Github. It hasn't happened since this morning. It never happened before and maybe it will never happen again.

The issue is that a failure to report results to CodeCov should not cause a CI build to fail. It's not a problem with the code under test. And there isn't any way to work around the issue (as far as I can tell).

[2016-07-12 22:09] stevepeak commented on #14
Was this the ruby uploader? https://github.com/codecov/codecov-ruby

[2016-07-13 02:42] dwbutler commented on #14
Yes, the backtrace I attached above implicates the `codecov` gem.

[2016-09-02 04:38] bentheax opened #17 "Missing CI variables result in "no implicit conversion to String""
Hi there,

I recently had some issues getting Buildkite setup due to an initially mysterious issue that turned out to be pretty straightforward once I looked at the code - the codecov formatter expected an environment variable I had forgotten to forward.

In my case, it was `BUILDKITE_JOB_ID` I forgot to forward to the Rails container, meaning `nil` got concatenated with a string and resulting in:

[2017-02-15 15:29] schasse commented on #14
happens again on our builds today.

[2017-02-15 16:50] flockom commented on #14
Is there a recommended way to rescue this? This is also breaking our builds on circle. Ideally we aren't monkey patching your gem

[2017-02-15 16:53] stevepeak commented on #14
Sorry about this issue. Having a hell-of-a-day today. My sincerest apologies for causing your builds to fail.

I'll see about patching the gem now.

[2017-02-15 16:57] stevepeak commented on #14
Does this commit work? (Sorry not a Ruby programmer)

[2017-02-15 17:23] flockom commented on #14
@stevepeak I tested this but it looks like the reports are submitting successfully now. Looks good to me though 👍

[2017-02-15 17:32] dwbutler commented on #14
@stevepeak `rescue => err` is the recommended way to catch application errors. Otherwise looks good.

[2017-02-15 18:25] ianjepperson commented on #14
@stevepeak Thank you, we had this problem today too.  Codecov is quite useful but not critical for our deployment.

[2017-02-16 11:00] schasse commented on #14
Thanks for fixing this!

[2017-02-22 13:51] stevepeak commented on #14
Fixed and deployed in `0.1.10`. Thank you

[2017-02-22 13:51] #14 closed

[2017-03-14 01:57] #13 closed

[2017-04-17 11:33] reggaemuffin opened #21 "Heroku CI not supported"
Heroku CI is in Beta right now. Sadly it does not test inside a git repo, so you have to parse their env variables: https://devcenter.heroku.com/articles/heroku-ci#environment-variables

Any possibilty to add support?

[2017-04-21 17:20] stevepeak commented on #21
Hey @Kostronor Thank you for the issue 👍

Do you know if `$ git` is available during the CI build? That can pull the correct commit information.

I'll add support to detect Heroku, but it appears there are only 2 default environment variables which does not really help.

[2017-04-21 17:23] Kostronor commented on #21
It seems they do not have git on their CI system. But their system is in beta, so maybe you can still convince them to support it or give better ENV 😉

[2017-04-21 17:25] stevepeak commented on #21
Ok. Hopefully they will add more environment variables and `git` support. Otherwise, it may be difficult to get the context of the upload.

[2017-04-21 17:28] Kostronor commented on #21
# Feedback
We’re eager to hear about your experience (and help) with Heroku CI, so please send comments and questions to heroku-ci-feedback@heroku.com .

I've send them a feedback mail with a link to this issue.

[2017-04-24 11:59] appleton commented on #21
👋  Hello, I'm on the Heroku CI team. This is definitely something we'd like to support, we've had a similar request for [codeclimate](https://github.com/codeclimate/ruby-test-reporter/issues/183) so I'd like to try and get a full set of information which anyone can make use of.

We can't easily give you git and a repository but we can most likely give you some environment variables with the inform

[2017-04-25 15:31] rogercampos opened #22 "Missing support for parallelized builds on failure"
When running your test suite parallelized across multiple process or even machines, it's possible for just one of those executions to fail. This should be considered as a global failure, but instead all the successful executions are correctly reported to codecov except for the failed one, resulting in an aberrant coverage report.

I understand this is difficult to accomplish due to the fact that t

[2017-04-25 15:32] stevepeak commented on #22
We do support parallelized builds. What issue are you seeing?

[2017-04-25 15:33] rogercampos commented on #22
wow sorry, that was fast, submitted by mistake, I'm just writting now.

[2017-04-25 16:04] stevepeak commented on #22
Codecov does check CI build state.  https://docs.codecov.io/docs/ci-service-relationship

Typically users will upload coverage from each container when they pass. Codecov will handle the overall commit status. Skipping commits that failed 👍

[2017-04-25 16:11] rogercampos commented on #22
Oh! then I understand that codecov has specific code to talk with all those provider server-side and pull the status information. Custom CI runners are not supported, outside that list? Is there a generic api I can use to control this?

[2017-04-25 16:18] rogercampos commented on #22
Or, better, can I have codecov check the status against the github status? https://developer.github.com/v3/repos/statuses/

[2017-04-25 16:22] stevepeak commented on #22
Codecov does check GitHub API's Statuses 👍

[2017-04-25 16:24] rogercampos commented on #22
Ok then, thanks for you help and time!

[2017-04-25 16:24] #22 closed

[2017-04-25 16:25] stevepeak commented on #22
My pleasure. https://docs.codecov.io/docs/detecting-ci-services

[2017-05-19 17:58] stujo commented on #21
@stevepeak Sounds like Heroku CI is on board to help if we can give them the info they need, would love to get this working. Please let me know how I can help

[2017-05-23 16:28] webgago opened #24 "It seems .codecov.yml doesn't work and you can't place it anywhere in your repository"
As per https://docs.codecov.io/docs/codecov-yaml#section-can-i-name-the-file-codecov-yml-
I tried to place my `.codecov.yml` under `.circleci/` i.e. `.circleci/.codecov.yml`.
It didn't work for me :(
`.circleci/codecov.yml` didn't work too. So I had to rename it into `codecov.yml` which is working

[2017-05-23 18:45] stevepeak commented on #24
Hey @webgago indeed the `.codecov.yml` path is not discovered properly by the Ruby uploader.
I can manually adjust your project while we work on improving this functionality.

[2017-05-23 18:58] webgago commented on #24
Hey @stevepeak. Thanks for answering so quickly!
That's fine. Could you please let me know when you fix this functionality.
Thanks!

[2017-06-19 00:53] nfm opened #25 "GitLab CI variable names have changed"
GitLab renamed some of their CI variables in GitLab Runner v9: https://docs.gitlab.com/ce/ci/variables/README.html#9-0-renaming

As a result, we get the following error at the end of our test suite:

[code]

[2017-06-19 09:11] #25 closed

[2018-02-13 09:28] stevepeak commented on #21
@appleton my apologies on the delay. We should schedule a chat to discuss this integration process. Are there been any changes that I should be aware of? Thanks!

[2018-02-13 10:23] appleton commented on #21
Hi @stevepeak I don't work at Herkou any more, I think you'd be best chatting with @joshwlewis or @raulb

[2018-03-28 08:15] SuperSandro2000 opened #27 "Appveyor needs API token"
As clearly stated in the docs you do not need to provide an API token if you collect coverage from a Appveyor build using a a public repo on git. Works fine on Travis.

[2018-07-11 13:10] williampollet opened #32 "Split formatter and uploader"
Hello,

We are using Codecov with codecov-ruby. Would it be possible to split the format job and the uploader job?

It would allow the team to trust more the codecov reports, particularly when the specs fail. Right now when they fail, an incomplete report is sent to codecov, and it displays an alarming message saying that the coverage is only 11%, which is false. Thus, people not totally invested

[2018-08-06 16:36] stephendolan opened #34 "Strange GitLab CI Behavior"
What is the purpose of [this line](https://github.com/codecov/codecov-ruby/blob/master/lib/codecov.rb#L183) in the library?

It is causing my repository to fail every pipeline with the message `{"error": {"context": "slug", "reason": "slug must match pattern ^[\\w\\-\\.]{1,255}\\/[\\w\\-\\.]{1,255}$"}, "meta": {"status": 400}}`.

My project path is `https://gitlab.com/big-southern-software/point-t

[2018-09-17 13:01] gregfletch opened #36 "Combining Coverage Reports"
I have a project that has been uploading Ruby/Rails coverage reports and is working as expected. Now I am trying to upload coverage reports from JavaScript tests in the same project as well. From https://github.com/codecov/codecov-node/issues/87, it sounds like this should just work; however, I am still only seeing the Rails coverage report. For what it's worth, my coverage directory structure mat

[2018-09-20 12:04] #36 closed

[2018-10-15 21:51] reedlaw commented on #25
Never mind, I found out all I needed to do was update my project's gems. I'm new to gitlab and wasn't sure where the installed gems were coming from.

[2018-11-23 15:25] deivid-rodriguez opened #41 "Threshold configuration ignored"
Codecov is ignoring our configuration of ignoring total coverage decreases [under 1%](https://github.com/activeadmin/activeadmin/blob/07a422b8095a10e2e9caa098c418c86381585e99/codecov.yml#L25), as can be seen in https://github.com/activeadmin/activeadmin/pull/5588.

[2018-11-30 19:02] deivid-rodriguez commented on #41
Closing since we're no longer using codecov, since I can no longer reproduce this.

[2018-11-30 19:02] #41 closed

[2019-05-16 21:13] stormsilver commented on #34
I also have this problem. It seems that codecov does not support multi-level project slugs (at least when coverage is reported). When I overrode the slug with the `CODECOV_SLUG` environment variable and set it to `foo/bar` then it worked correctly (and even included my top-level group). I'm not sure how it would work with a 4-deep group as I'm only trying with a 3-deep.

The codecov.io UI seems to

[2019-09-09 18:11] gdomingu commented on #24
Any update on this? Would like to add config using a `codecov.yml` file.

[2019-10-24 07:40] Mange opened #50 "Automatically retrying coverage uploading"
We're having issues where coverage reports are sometimes not uploaded in some of our test splits, making the coverage graphs unstable and unreliable. It almost always looks like a temporary network issue, or server issue, since the other test splits upload successfully.

Is it possible to make the upload retry `n` times before giving up?

[2019-11-22 00:09] nfm commented on #21
Please close this issue, it has been resolved.

[2019-11-22 00:14] nfm commented on #50
Also having this issue. It's compounded by the fact that [codecov silently swallows the exception raised when it occurs](https://github.com/codecov/codecov-ruby/blob/805dfaa4608373daee04f46328466915b2c10971/lib/codecov.rb#L295-L297). As a result, we end up in a state where all the test jobs have passed on CI (we run multiple test jobs in parallel), but the build fails due to a drop in code coverag

[2020-02-12 07:51] gingermusketeer commented on #50
Looks like this is solved by https://github.com/codecov/codecov-ruby/pull/48. Did anyone have luck solving this problem using the changes from that PR?

[2020-02-12 20:49] nfm commented on #50
#48 looks sensible, I haven't tried it though.

My main concern is not re-raising the failure. I'm hoping to put together a PR for that sometime.

[2020-02-13 08:22] gresbtim opened #54 "Why does coverage increase by 0.1% if i changed only the codecov.yml file?"
all i did is touching the codecov.yml file to disable patch

![image](https://user-images.githubusercontent.com/59562278/74414743-4e7f6000-4e42-11ea-8521-403b23db4f06.png)

this is pretty unreliable

[2020-03-05 05:26] tconst commented on #50
I forked #48 and added configurable retry count and abort on upload failure as I wanted both. I can open a PR or the changes can be included in #48 if they wish.

https://github.com/tconst/codecov-ruby/commit/c47eea4d747ed64bfd79bb29ae05ffc286da6d4c

[2020-05-14 09:49] ndbroadbent opened #57 "Nothing happens after following the instructions in the README"
I'm using GitLab CI. I set the `CODECOV_TOKEN` env variable, and I have these lines in my `spec_helper.rb`:

[code]

After my tests finish running, I don't see any reports getting uploaded to Codecov.

~I was under the impression that this Ruby library would replace the Bash uploader step, so I haven't used this line anywhere: `bash <(curl -s https://codecov.io/bash)` Do I also need the bash uploa

[2020-05-14 10:09] ndbroadbent commented on #57
Ahhhh, yes it looks like my custom rspec command is causing problems.

When I run:

[code]

I see the "Please provide the repository token" error for CodeCov.

But when I run:

[code]

I get no log output related to CodeCov.

[2020-05-14 10:27] ndbroadbent commented on #57
AHH, sorry this was my fault! I'm [doing some tricky things with SimpleCov and Spring](https://docspring.com/blog/posts/how-to-get-accurate-test-coverage-with-simplecov-spring-and-rails/), and this broke the CodeCov integration on CI. I managed to figure out a fix for this.

Sorry to bother you!

[2020-05-14 10:27] #57 closed

[2020-05-16 14:45] jiridanek commented on #54
Where exactly does the coverage change? When there are higher-level, integration style tests present in a project, it usually happens that the set of executed lines during a CI run is nondeterministic, and as a consequence, the coverage changes by +/- few percent from one run to the next, seemingly by itself.

I saw this happening in some tests that were starting servers on localhost and connectin

[2020-05-27 16:00] prem-prakash commented on #32
@williampollet
I created a GIST with the formatter code:
https://gist.github.com/prem-prakash/248d0652d96ec282252d0737bc3487f0

I use rspec, so I put it on `/spec/support/`
and on `rails_helper.rb`

[code]

[2020-06-08 14:14] WillKoehrsen opened #62 "Relative coverage 100% but change -0.01%"
On a recent PR, the <relative> coverage is 100%, but the change is -0.01%, which causes the PR to fail the coverage check. Why would this occur, and is there a "tolerance" setting where PRs that decrease the coverage by a percentage less than a specified tolerance are still approved?

<img width="239" alt="Screen Shot 2020-06-08 at 09 08 19 CDT" src="https://user-images.githubusercontent.com/17484

[2020-06-11 02:13] thomasrockhu commented on #62
Hi @WillKoehrsen, could you make a post on our [community boards](https://community.codecov.io)?

You can use [threshold](https://docs.codecov.io/docs/commit-status#threshold) as a tolerance setting.

[2020-06-11 02:13] #62 closed

[2020-06-16 12:29] rohitpaulk commented on #50
@thomasrockhu Looks like #48 ended up being merged into #59 recently, any plans on a release that includes this?

[2020-06-16 13:36] thomasrockhu commented on #50
@rohitpaulk, this should have been released as part of `0.1.17`

[2020-06-16 13:36] #50 closed

[2020-06-16 13:37] thomasrockhu commented on #34
Hi all, sorry for the delay here (by years). Is this still an issue? I know we had made some significant changes to our GitLab integration, particularly with slug matching.

[2020-06-16 13:38] #21 closed

[2020-06-16 13:38] thomasrockhu commented on #17
Closing this out due to age. If this is still and issue, please re-ping and I'll take a look

[2020-06-16 13:38] #17 closed

[2020-06-16 13:39] thomasrockhu commented on #24
`codecov.yml` or `.codecov.yml` must be located in the root, `.github/` or `dev/` folders.

[2020-06-16 13:39] #24 closed

[2020-06-16 14:29] rohitpaulk commented on #50
Ah, nice - thanks @thomasrockhu!

[2020-06-25 14:14] toymachiner62 commented on #34
I'm using github with the codecov bash uploader and I'm also getting a similar error and have no idea what it means

[code]

[2020-06-25 14:15] thomasrockhu commented on #34
@toymachiner62 can you link to the repository?

[2020-06-25 14:16] toymachiner62 commented on #34
It's a private repo so I can't here.

[2020-06-25 14:17] thomasrockhu commented on #34
@toymachiner62 could you open a ticket in our [community boards](https://community.codecov.io)? I can DM you from there

[2020-06-30 08:33] asbjornu commented on #32
Splitting the formatter and uploader would also make it clearer exactly what has gone wrong. When specs fail it's now easy to misinterpret it as Codecov failing since both are done in the same step. Separating formatting and uploading would at least make it apparent when Codecov is at fault and not.

I also think that from a security perspective, it makes sense to not expose `CODECOV_TOKEN` to any

[2020-06-30 09:58] asbjornu commented on #32
It seems like a split between coverage gathering and uploading is possible by doing something like in [this gist](https://gist.github.com/stephanvd/0fbbca1c4c0b30eaadc2) by @stephanvd.

[2020-07-07 18:49] jpalumickas opened #67 "cannot load such file -- colorize"
New gem version raises an error:
[code]

I see new `colorize` gem was added. Dependency should be in `gemspec` file, not in `Gemfile`

[2020-07-07 19:38] #67 closed

[2020-07-07 19:40] thomasrockhu commented on #67
@jpalumickas thanks for this, I released `0.1.19` which should fix the issue

[2020-07-07 20:50] jpalumickas commented on #67
Thank you! working fine now!

[2020-07-07 23:23] shouichi opened #69 "Coverage is not reported after v0.1.19"
We don't get coverage reports after updating to v0.1.19 (which starts using v2 API). It seems like uploading is OK but the coverage is never reported. Thanks.

[code]

[2020-07-08 07:06] ShockwaveNN commented on #69
Same here

Here is latest PR without updated codecov
https://github.com/onlyoffice-testing-robot/telegram-github-changes-bot/pull/143
There is codecov report as comment in this PR

This is a bump of codecov iteself and no report as comment
https://github.com/onlyoffice-testing-robot/telegram-github-changes-bot/pull/144

[2020-07-08 19:14] AlexWayfer commented on #69
I have a strange HTML response at all:

![image](https://user-images.githubusercontent.com/6510020/86960551-5e3c6f80-c168-11ea-9593-c0e9c215fc6d.png)

https://github.com/AlexWayfer/alt_memery/pull/5

https://cirrus-ci.com/task/6014472798076928

[2020-07-08 19:16] AlexWayfer commented on #69
I think, such breaking changes should be in minor version of zero-major, like `0.2.0`. I'm locking at patch-version, and without any changes in Bundle it just stops to work.

[2020-07-08 19:24] AlexWayfer commented on #69
`0.1.18` is also broken:

[code]

It's fixed here and not in the Changelog: https://github.com/codecov/codecov-ruby/commit/10b2ef171a80243de436e29eb9037695f3832194

So, `'codecov', '~> 0.1.0', '< 0.1.18'` helps.

[2020-07-10 16:34] thomasrockhu commented on #69
Hi all, this was clearly a huge mishap on my part. We should not have released the version without testing more thoroughly. We have released `0.1.20` which should patch the issue with the migration to v2. Apologies again and thank you for your patience.

[2020-07-10 16:35] #69 closed

[2020-07-10 16:57] thomasrockhu commented on #8
I think this has been fixed above ^

[2020-07-10 16:57] #8 closed

[2020-07-13 14:09] AlexWayfer opened #72 "`0.2.0` and `0.1.20` worked, but becomes broken"
https://github.com/AlexWayfer/alt_memery/pull/9

https://cirrus-ci.com/task/6006359470637056?command=test#L0

![image](https://user-images.githubusercontent.com/6510020/87314228-99a1ba00-c52b-11ea-9bb3-2cd467bff377.png)

[2020-07-13 14:11] AlexWayfer commented on #72
`0.1.20` is affected too:

https://github.com/AlexWayfer/module_methods/pull/5

https://cirrus-ci.com/task/6445327207104512

![image](https://user-images.githubusercontent.com/6510020/87314438-de2d5580-c52b-11ea-9ba0-861547d60723.png)

[2020-07-14 07:27] ShockwaveNN commented on #72
Same here, seems there is some problems on back-end

[2020-07-14 11:54] klyonrad opened #73 "Enable branch coverage"
The simplecov added support for displaying branch coverage for a while now.
It would be nice if codecov would do that too.

[2020-07-14 22:02] steveburkett commented on #72
seeing this problem right now.

[code]

[2020-07-14 23:04] thomasrockhu commented on #72
Hi @steveburkett, can you share a build URL for the above?

[2020-07-14 23:19] thomasrockhu commented on #72
@AlexWayfer, for your case, the token you are providing is not a UUID. Can you double-check how you are supplying `CODECOV_TOKEN`?

[2020-07-14 23:30] AlexWayfer commented on #72
Yes, it's [encrypted by Cirrus CI](https://cirrus-ci.org/guide/writing-tasks/#encrypted-variables).

[2020-07-15 00:03] thomasrockhu commented on #72
We just released `0.2.1` of the gem, would you be able to see what happens now?

[2020-07-15 16:07] steveburkett commented on #72
@thomasrockhu that fixed it! awesome!

[2020-07-16 12:00] AlexWayfer commented on #72
Now it works as I see, thank you.

[2020-07-16 12:00] #72 closed

[2020-07-20 12:24] thomasrockhu commented on #27
This should be resolved. Please feel free to comment if it's not been fixed @SuperSandro2000, and I'll re-open and investigate.

[2020-07-20 12:24] #27 closed

[2020-07-20 16:36] AlexWayfer opened #77 "HTTP 400 | Provided token is not a UUID"
With 0.2.2:

https://github.com/AlexWayfer/sequel-enum_values/pull/36

https://cirrus-ci.com/task/5888498974588928?command=test#L98

![image](https://user-images.githubusercontent.com/6510020/87962746-5c57a200-cac0-11ea-8dbc-a7f9b0984324.png)

With 0.2.1:

https://github.com/AlexWayfer/sequel-enum_values/pull/37

https://cirrus-ci.com/task/5023444041465856?command=test#L98

![image](https://user-i

[2020-07-20 16:47] AlexWayfer commented on #77
Sorry, `0.2.1` is broken too: https://cirrus-ci.com/task/5787749645025280?command=test#L98

![image](https://user-images.githubusercontent.com/6510020/87963698-ccb2f300-cac1-11ea-970a-28d68b57eb53.png)

So, maybe it's server-side error, or CI error. I don't know without logs and debug.

[2020-07-20 16:58] thomasrockhu commented on #77
@AlexWayfer it looks like your token is not decrypted before sending it to Codecov, and thus we are unable to use it

[2020-07-20 17:33] fkorotkov commented on #77
@AlexWayfer it's an issue with the depfu[bot]. Encrypted variables are not decrypted for bot users since [it's impossible to check what kind of permissions an app has for a particular repository](https://github.community/t/repository-permissions-for-github-app-fake-user/14287).

[2020-07-20 17:40] AlexWayfer commented on #77
OK, sorry, my bad. I've tested it right now in two PRs.

[2020-07-20 17:40] #77 closed

[2020-08-03 16:15] aergonaut opened #81 "Compatibility with GitHub Actions - timeout or connection error"
I have been using Codecov for a long time with Travis CI, but recently I needed to make a switch to GitHub Actions as my CI provider.

I initially noticed that in my RSpec builds, Codecov was reporting that no CI provider was detected and so no API key was detected. I added my project's API key to my workflow and tried building again. This is the error I got:

[code]

For my Jest tests, I am using

[2020-08-06 23:18] colindean opened #84 "v0.2.4 cannot require 'version'"
dependabot submitted https://github.com/Homebrew/homebrew-bundle/pull/765 and per test result in https://github.com/Homebrew/homebrew-bundle/pull/765/checks?check_run_id=956036259, it looks like c0db3b2ac9a50c9a55f964d57b5c06b3f71e25ad introduced a regression because of how it's pulling in the new version file.

[code]

Repeated for all of our specs.

[2020-08-06 23:23] thomasrockhu commented on #84
Thanks @colindean looking into it now

[2020-08-06 23:41] #84 closed

[2020-08-10 13:15] thomasrockhu opened #87 "⚠️ **Deprecation Warning** ⚠️ Removal of all gems pre-0.2.0 [2020-07-17]"
We will be deprecating all gems prior 0.2.0. We are moving away from the v1 uploaders, as they are causing a significant percentage of upload timeouts and connection errors. Please upgrade to 0.2.0+ before August 17, 2020 in order to prevent stoppage of service.

[2020-08-10 13:25] thomasrockhu commented on #81
Yes, this should be updated in `0.2.5`

[2020-08-10 13:25] #81 closed

[2020-08-10 22:08] aergonaut commented on #81
Thanks @thomasrockhu!

[2020-08-18 19:36] chrisarcand opened #91 "License discrepencies"
* The license as stated in the gemspec is MIT
* The license as stated in LICENSE is Apache 2.0
* The license as stated in LICENSE.txt is MIT

Can this be properly clarified and consolidated? The difference is perceivable in projects like https://github.com/newrelic/papers which try and reconcile these different data points.

[2020-08-20 18:30] EmmaPrescott opened #92 "`URI::InvalidURIError` After Updating codecov Gem to 0.2.6"
Hello! We recently upgraded the codecov ruby gem to 0.2.6 and we are getting the following error: `split': bad URI(is not URI?): "Use v2 endpoint\n" (URI::InvalidURIError`.

In our case, the gem issues a request to `http://cogo-proxy.phenix.com:5012/upload/v4?token=se .......` and then we get the following error: `/usr/local/rvm/rubies/ruby-2.6.5/lib/ruby/2.6.0/uri/rfc3986_parser.rb:67:in split':

[2020-08-20 18:38] thomasrockhu commented on #92
Hi @EmmaPrescott, would you be able to post the Codecov output here?

[2020-08-20 18:54] EmmaPrescott commented on #92
Here's a snippet:

[code]

[2020-08-20 18:59] thomasrockhu commented on #92
@EmmaPrescott is this an enterprise build?

[2020-08-20 19:43] chrisseaton commented on #87
This was a pretty brutal deprecation. Actually *yanking* gems with a week's notice?

[2020-08-20 20:00] thomasrockhu commented on #87
@chrisseaton you're totally right, a week is brutal. We had made the change [here](https://github.com/codecov/codecov-ruby/commit/69d4b00502bae5281573edc8862a787dc6997e01#diff-04c6e90faac2675aa89e2176d2eec7d8) with about 3 weeks notice, but making this issue was an afterthought, and that's my fault.

Unfortunately, we had to move on our side quickly to prevent user issues, and I realize that it wa

[2020-08-20 20:15] chrisseaton commented on #87
Sorry I don't know much about the internal issues that caused the need to force people to stop using the gem as such an emergency, so I'll just trust the technical reason was sound and it was doing something really terrible to your network.

I only use `simplecov` as a transitive dependency, so I would never think to be reading your README every three weeks in order to catch this message. All I kn

[2020-08-24 20:06] Fire- commented on #87
Just to give some additional feedback - this change went unnoticed as we'd pinned versions ( and I suppose there aren't any deprecation communications for enterprise either? ) and broke several builds that relied upon the gem existing. A reporting failure on that endpoint with an error message that explained what was happening would have been far more noticeable without breaking builds due to a de

[2020-08-24 21:04] thomasrockhu commented on #87
@chrisseaton and @Fire- I really appreciate the feedback here, and I am deeply sorry that this was not a smooth transition. We do not anticipate a major change like this happening again, but if so, we will take measures to be as communicative as possible. Thanks everyone.

[2020-08-25 02:21] #34 closed

[2020-08-25 02:22] thomasrockhu commented on #54
@gresbtim, please open a ticket for this in `support` on our [community boards](https://community.codecov.io).

[2020-08-25 02:22] #54 closed

[2020-08-26 16:54] elia commented on #87
@thomasrockhu we had the same issue in the solidus ecosystem, with a decent number of extensions failing, I think @chrisseaton's suggestion would still be good to follow, _unyanking_ the v0.1 gems and disabling the endpoints.

An alternative would be to release a patch level v0.1.x that disables the bad behavior and prints some kind of warning when required.

[2020-08-26 19:16] thomasrockhu commented on #87
@elia, these are very good points. In the hopes that it is not too late, I am releasing version `0.1.21` which will mirror `0.2.8`. Unfortunately, we will be unable to [unyank the gems](https://blog.rubygems.org/2015/04/13/permadelete-on-yank.html). I really appreciate your feedback here.

[2020-08-26 19:46] elia commented on #87
Thanks 🙏 really appreciated, that well at least solve the issue for Gemfiles with a ~> 0.1.0 requirement (which was our case).

[2020-08-26 20:00] thomasrockhu commented on #87
I'm going to close this issue as a result, thanks again for all the feedback everyone. This was not as smooth as we had hoped, and I apologize for any difficulties faced. We'll do better in the future.

[2020-08-26 20:00] #87 closed

[2020-08-27 06:38] unhappychoice opened #96 "codecov-ruby breaks gems has a dependency for colorize"
Ref: https://github.com/unhappychoice/circleci-cli/pull/217

First of all, thank you for this awesome product :pray:
I'm using codecov for almost all of my repositories.

### Description
1. My gem depended on both of `colorize` and `codecov-ruby`.
2. `codecov-ruby 0.2.8` ( https://github.com/codecov/codecov-ruby/pull/94 ) overwrites colorize methods.
3. My gem is broken.

### Suggestion
I think ge

[2020-08-27 23:10] #91 closed

[2020-08-28 03:15] thomasrockhu commented on #73
Thanks here @klyonrad, we are looking to support Simplecov 0.18+ and will add its branch coverage to the product map.

[2020-08-31 15:42] #96 closed

[2020-09-01 03:52] chrisarcand commented on #91
Thank you! 🙇🏻‍♂️

[2020-09-07 05:29] partounian opened #101 "1 or more jobs timing out often (knapsack pro split suite, 14 jobs)"
We have started using https://knapsackpro.com/ with GitHub Actions and we run 14 jobs. We are using [Queue Mode](https://docs.knapsackpro.com/2020/how-to-speed-up-ruby-and-javascript-tests-with-ci-parallelisation#dynamic-tests-split), along with [split by individual tests (it) in certain situations](https://knapsackpro.com/faq/question/how-to-split-slow-rspec-test-files-by-test-examples-by-individ

[2020-09-09 02:49] thomasrockhu commented on #101
Hi @partounian, please open a ticket in the `support` section of our [community boards](https://community.codecov.io).

[2020-09-09 02:49] #101 closed

[2020-10-06 13:37] Tom-Tom opened #103 "timeout uploading result"
Hi, i got a flaky test on circleci, with this error:

[code]

A timeout error, the retries system does not seem to work properly
it happens sometime, not all the time.

Any idea how to fix this?

[2020-10-08 13:29] thomasrockhu commented on #103
Hi @Tom-Tom, could you open a ticket in the support section of our [community boards](https://community.codecov.io) if this is still happening for you? We made an infrastructure change, and it's possible that this happened around that time.

[2020-10-08 13:29] #103 closed

[2020-10-28 17:13] akun1 commented on #4
Any work done to support Ruby now? Still getting similar error 5 years later 😅

![Screen Shot 2020-10-28 at 12 13 21 PM](https://user-images.githubusercontent.com/23622603/97471694-faa4a080-1916-11eb-83e7-97b6b41945b3.png)

[2020-11-05 16:06] thomasrockhu commented on #73
@klyonrad, do you have a build with branch coverage? Now that 0.18+ is supported, we'd love to move forward here.

[2020-11-05 16:27] klyonrad commented on #73
Sorry, @thomasrockhu I don't quite understand the question or what you require. I used branch coverage a couple of times in my projects and it worked. [Enabling it should require minimal configuration](https://github.com/simplecov-ruby/simplecov#branch-coverage-ruby--25)

[2020-11-05 16:32] Tom-Tom commented on #103
Hello @thomasrockhu

It's back

[code]

I will check the community boards :)

[2020-11-06 05:21] thomasrockhu commented on #73
@klyonrad, sorry for not explaining myself more. Do you have a public repository that is currently collecting branch coverage?

[2020-12-09 22:26] klyonrad commented on #73
@thomasrockhu Here would be an exmaple: https://github.com/klyonrad/lazybar/blob/master/spec/spec_helper.rb#L5

[2020-12-15 01:51] MrJoy opened #116 "Metadata for 0.2.13 release has an issue."
The changelog doesn't say anything about 0.2.13 being restricted to _older_ versions of simplecov, but according to Rubygems the dependency went from `>= 0` for codecov 0.2.12 to '~> 0.18.0` for 0.2.13.  As such, those of us on the latest simplecov can't update.

Is this an oversight, or is there a compatibility issue that's been discovered with newer simplecov?

[2020-12-16 11:30] ShockwaveNN commented on #116
Same here, trying to use both latest
simplecov (0.20.0)
and
codecov (0.2.13)
and seems this is not possible

[2020-12-16 12:11] AlexWayfer commented on #116
Hello there, restriction was made by me.

Sorry, but there are no contributing guides with requirement "add changelog entries in PRs", so I just made changes and left changelog to maintainers. I personally update changelog only before release, also because some changes can be reverted before release.

Yep, `>= 0` is very dangerous.

At least there was not `0.20` version at PR creation date. Why th

[2020-12-16 13:51] ShockwaveNN commented on #116
I think better solution is
`s.add_dependency 'simplecov', '~> 0'`

This allow to install any 0.x.x version of simplecov and if simplecov using Semantic Versioning this will not result a breaking changes

But with your soltuion
[code]

[2020-12-16 14:52] AlexWayfer commented on #116
If you'll look at SemVer closer, you'll see that minor versions in zero major version backward incompatible: https://semver.org/#spec-item-4

Zero major version means "unstable", "alpha version". And this is it.

Yes, I know, and it's OK. We don't see the future, we can't know if `simplecov 0.21` or `0.51` will change their interface, on which Codecov relies, completely or especially partially. We

[2020-12-16 15:02] ShockwaveNN commented on #116
A lot of ruby libraries has zero version as major version

Is this going to happen at all?
https://rubygems.org/gems/simplecov/versions
Simplecov in development for 10 years and currently is 0.20.

[2020-12-16 15:15] AlexWayfer commented on #116
It's sad and it means that we can't rely on their minor versions. RuboCop as example.

I don't know, I suggest you to forward this question to `simplecov` maintainers. At least, I saw `1.0` releases recently from RuboCop and Faraday. And Crystal language 1.0 comes. So, it happens, for some projects at the first days, for other — after years or even never.

Still, if `simplecov` maintainers use `0`

[2020-12-17 20:29] MrJoy commented on #116
Gotcha.  I only mentioned it because I wasn't sure if this was an intentional choice, or something that crept in by accident.

Fair enough.

Seems possible the SimpleCov folks aren't following semver.

Much appreciated!

For the time being, I've rolled back CodeCov because it was in an apparently-working state.  I look forward to the next CodeCov release!

[2020-12-17 23:28] AlexWayfer commented on #116
Please, let me know: it the latest release of CodeCov is broken? I think it just uses not the latest version of `simplecov`, but still works with `0.18` (in our case). What do you mean by "it was in an apparently-working state", if it still in this state in my understanding?

[2020-12-18 00:43] MrJoy commented on #116
SimpleCov 0.20.0 + CodeCov 0.2.12 was apparently working fine, so I rolled back to that instead of taking SimpleCov 0.18.x + CodeCov 0.2.13.

The current version of CodeCov seemed to work fine with the older SimpleCov, but I'm not interested in rolling back SimpleCov which is why I went that route.

[2020-12-21 16:30] thomasrockhu commented on #116
HI all, thanks for the incredible write-up and discussion. For now, we will be switching to

[code]

The reason being as stated above, we cannot yet rely on non-breaking changes in future Simplecov versions. Case in point, the format changed for [0.18](https://github.com/simplecov-ruby/simplecov/blob/main/CHANGELOG.md#0180-2020-01-28) and broke our ability to parse reports. We will continue to use

[2020-12-21 21:03] #116 closed

[2020-12-22 01:23] tknzk opened #119 "cannot load such file error. /lib/codecov/version"
[code]

[2020-12-22 01:27] jasonbosco commented on #119
Was just about to open an issue myself. I only see this issue in `v0.2.14`. I downgraded it to `v0.2.13` and it works fine.

[2020-12-22 01:59] meganemura commented on #119
#118 fixes this issue.

[2020-12-22 17:30] thomasrockhu commented on #119
This should be fixed via `0.2.15`

[2020-12-22 17:30] #119 closed

[2020-12-26 19:33] n-rodriguez opened #121 "Ruby 3.x compatibility"
Ruby 3 is out and codecov-ruby is not compatible with it :

it fallbacks to `codecov 0.2.12` :

`Using codecov 0.2.12 (was 0.2.15)`

[code]

Because of https://github.com/codecov/codecov-ruby/commit/b8fad69be0a49b9be521088ed01c9ea9b60d2c83#diff-04cb1f7276546201ae5ccb1c2165c2b6c9ed202c6e6d7dd4ea803e32386a7dc2

[2020-12-27 00:37] AlexWayfer commented on #121
And what does it have to do with Ruby 3?

[2020-12-27 00:53] AlexWayfer commented on #119
I'm sorry, it happened after my changes, I didn't notice this line and it didn't affect CI.

I've created #123 with a try to prevent such errors in future in one of commits.

[2020-12-27 01:11] n-rodriguez commented on #121
It's painfuly obvious you dont know how your tools work...

[2020-12-27 01:26] AlexWayfer commented on #121
You didn't answered. You've wrote "codecov is not compatible with Ruby 3" and attached `Gemfile.lock` diff without Ruby 3 information, specific, at least clarification.

Oh, I got it: you meant this diff as result, not as reason. Sorry. OK.

[2020-12-27 01:48] #121 closed

[2020-12-27 12:00] AlexWayfer commented on #121
Why? I agreed with the issue and apologized. It's still here, and though changes in your PR was dangerous (step back), I've suggested more safe changes for resolution this issue. There is a button to accept them and the PR can be merged.

[2020-12-27 13:54] n-rodriguez commented on #121
Someone else will do the job better than me.

[2021-01-11 00:08] klausbadelt opened #126 "AWS CodeBuild not detected with CodePipeline"
When running CodeBuild via CodePipeline, the CI provider is not detected. Also, there's no git repository with CodePipeline as source provider in CodeBuild, so branch and commit detection fail too.

[code]

[2021-01-11 01:24] klausbadelt commented on #126
We're testing in a Docker container, so once I passed thru `CODEBUILD_BUILD_ID`, `CODEBUILD_CI`, `CODEBUILD_RESOLVED_SOURCE_VERSION`, `CODEBUILD_SOURCE_REPO_URL`, `CODEBUILD_SOURCE_VERSION`
and `CODEBUILD_WEBHOOK_HEAD_REF` as required by this gem, detection started working.

Now the upload fails with `NoMethodError`. The env vars are populated differently when using CodePipeline.
[code]

[2021-01-11 01:57] thomasrockhu commented on #126
@klausbadelt what is the value of `CODEBUILD_WEBHOOK_HEAD_REF`?

[2021-01-14 21:26] thomasrockhu commented on #121
Thanks all, this will be released shortly and fixed via https://github.com/codecov/codecov-ruby/pull/124

[2021-01-15 00:35] klausbadelt commented on #126
@thomasrockhu It's not set. Here's all `CODEBUILD_*` env vars set when using CodePipeline:

[code]

[2021-01-15 00:42] thomasrockhu commented on #126
@klausbadelt I see, I'll look into getting this changed! Thanks for your patience.

[2021-01-15 12:24] klausbadelt commented on #126
Haha thank you. Sorry for the delay in response.

I think I had this covered in #35 but things have probably changed since then. Lemme know if a PR would help you.

[2021-01-15 16:29] thomasrockhu commented on #126
😆 sorry about that @klausbadelt. Yes, another PR would be extremely helpful

[2021-01-19 19:30] filmhubhq opened #128 "Support monorepo"
Say you have a monorepo with
[code]
This breaks the codecov report because of missing `rails/` and `web/` prefixes in all paths.  [Path fixing](https://docs.codecov.io/docs/fixing-paths) only works for one subfolder because it's global (not per flag/test suite), and breaks all paths of the other.

We have found a workaround with
[code]
but that's rather cumbersome.

The issue is that this is not c

[2021-01-20 17:06] LocoDelAssembly opened #129 "Builds failing when codecov cannot upload coverage metrics"
I'm getting somewhat frequently today errors like `uri/common.rb:739:in 'URI': bad argument (expected URI object or URI string) (ArgumentError)`

It looks the problem comes from here:
https://github.com/codecov/codecov-ruby/blob/e1b4e2f85b7ac9d6b33e6af9b932a865d1c765dd/lib/codecov.rb#L413

However, I was wondering if it is OK when codecov fails to cause the tests to fail? Is there an official way

[2021-01-28 00:50] thomasrockhu commented on #32
This has been resolved in `0.4.2`

[2021-01-28 00:51] thomasrockhu commented on #32
The underlying bash uploader has the `-z` argument which will allow uploading the formatted report. We will release a new action this week or next for the Codecov Action

[2021-01-28 00:51] #32 closed

[2021-02-02 22:09] marcotc commented on #73
👋 @thomasrockhu, our team was also trying to report branch coverage results and noticed that they don't get picked up by the `codecov` gem. We submit our results by configuring the `SimpleCov::Formatter::Codecov`: https://github.com/DataDog/dd-trace-rb/blob/7e6fdb0a8c948a9e36f6f618350566e74c2d92b1/Rakefile#L958-L967

Like @thomasrockhu said, adding `SimpleCov.enable_coverage :branch` to any projec

[2021-02-03 12:40] klausbadelt commented on #126
You probably saw - #131 has been posted

[2021-02-05 03:22] thomasrockhu commented on #73
Hi @marcotc! We are working on parsing the branch coverage information this month. After that's in place, I'll be making the change to the uploader to send that information to Codecov using this gem. I'll ping back here with updates, but we are really looking forward to getting this feature rolled out.

[2021-02-12 14:58] thomasrockhu commented on #126
@klausbadelt, I'll push a new version of the uploader next week, thanks for the PR!

[2021-02-16 08:07] tetienne commented on #129
Any workaround about this? It break our CI workflow a lot of time.

[2021-02-16 08:10] tetienne commented on #129
[code]

[2021-02-16 14:20] thomasrockhu commented on #129
@tetienne, would you be able to post a link to the CircleCI build here?

[2021-02-16 14:56] LocoDelAssembly commented on #129
@thomasrockhu In case it is useful an example with GitHub Action: https://github.com/SpeciesFileGroup/taxonworks/runs/1899691952?check_suite_focus=true

[2021-02-16 15:18] thomasrockhu commented on #129
@LocoDelAssembly that is helpful, can try installing the GitHub app [here](https://github.com/apps/codecov)?

[2021-02-19 15:20] tetienne commented on #129
@thomasrockhu That’s from a private circleci instance, so you cannot access it. If you need specific information, don’t hesitate to ask me.

[2021-02-19 15:41] nilleb commented on #129
The problem seems to be in https://github.com/codecov/codecov-ruby/blob/e0aa49e6aa422bfddb903543003a4c218bb1bfda/lib/codecov/uploader.rb#L424
=> the response can not be parsed as a valid url

Since visibly it's the second time this week that the platform has problems (according to https://status.codecov.io/) that prevent paying customers from uploading reports, would it be possible to make the upl

[2021-03-01 20:59] thomasrockhu commented on #129
Hi all, I'll keep this ticket open for a few weeks, but we released `0.5.0` which should help address this issue. You can set `SimpleCov.pass_ci_if_error = true` in a `.simplecov` or `_helper.rb` file.

Let me know if that works for you or if you experience issues.

[2021-03-03 14:58] elia commented on #129
With the latest update we're consistently getting this error, I believe the syntax error is in something returned by the server:

[code]

[2021-03-03 15:03] nilleb commented on #129
hello @thomasrockhu

Sorry, but I experience issues
[code]
In a very similar way to the comment https://github.com/codecov/codecov-ruby/pull/137/files#r585093609 (on the PR that has been merged two days ago).

Am I missing something?

[2021-03-03 16:11] thomasrockhu commented on #129
@nilleb no, this is definitely my fault. https://github.com/codecov/codecov-ruby/pull/138 should address it

[2021-03-03 16:32] thomasrockhu commented on #129
@nilleb it should work on `0.5.1` with `Codecov.pass_ci_if_error = true`

[2021-03-06 19:48] AlexWayfer commented on #129
The default is `nil`? Why this build has passed? https://cirrus-ci.com/task/5728180502790144?command=test#L167

[2021-03-17 09:01] ShockwaveNN commented on #129
Any working workaround for this issue, I don't want to skip coverage reports in my CI, but I'm constantly getting same error as @elia

For example in this run:
https://github.com/ONLYOFFICE/onlyoffice_api_gem/pull/249/checks?check_run_id=2128299573

I think I restarted it over 10 times and cannot get more that one run without error

![image](https://user-images.githubusercontent.com/668524/1114416

[2021-04-07 17:14] Nerian opened #139 "Using flags"
Hi,

https://docs.codecov.io/docs/about-the-codecov-bash-uploader#arguments

When using the bash it would be something like this:

bash <(curl -s https://codecov.io/bash) -F flag1

How can I set the flags when using codecov-ruby?

Thanks.

[2021-04-15 15:06] AlexWayfer commented on #129
I have the same now occasionally: https://cirrus-ci.com/task/5618513965481984?logs=test#L954

[code]

[2021-04-20 02:21] thomasrockhu commented on #139
@Nerian this is unfortunately not possible with the Ruby uploader. I'll let the product team know

[2021-04-20 08:09] Nerian commented on #139
Hi,

It is possible, but not documented. I just needed to use the env variables:

https://github.com/codecov/codecov-ruby/blob/master/lib/codecov/uploader.rb#L130

I suggest documenting it in the readme.

[2021-04-20 08:09] #139 closed

[2021-04-27 23:30] cantino opened #142 "Bash Uploader Security Update"
Similar to https://github.com/codecov/codecov-node/issues/298, I just want to verify that this gem was not affected by the recent security issue.

@thomasrockhu

[2021-04-28 01:22] thomasrockhu commented on #142
Confirming that this module was not affected by the recent security issue.

[2021-04-28 01:22] #142 closed

[2021-05-06 20:25] ms-ati commented on #129
Does the codecov-ruby not work on JRuby nor TruffleRuby?

[2021-05-06 23:14] AlexWayfer commented on #129
This is wrong place for such question, but it works: https://cirrus-ci.com/build/6501205141618688 (the ends of `test` scripts).

[2021-06-07 09:49] ShockwaveNN commented on #129
Problem was gone for me for quite of some time but today it's failing again almost each build

[2021-06-24 09:13] rath3t opened #144 "Codecov docker error Syntax error: "(" unexpected"
Hello everyone,
i use codecov through github actions.

I wanted to run my github actions from inside a preconfigured docker image to speedup my workflow.
Without a docker container the coverage report worked. Here, i just  downloaded my dependencies directly in github actions.

I also read https://docs.codecov.com/docs/testing-with-docker and included in my dockerfile `ENV CI true` and i also trie

[2021-06-24 09:16] rath3t commented on #144
Should this be at: https://github.com/codecov/codecov-bash ?

I posted it here since https://docs.codecov.com/docs/testing-with-docker refers to https://github.com/codecov/codecov-ruby/blob/484767f1c3d7992a9d7fedd6dc72d35a80d04f70/lib/codecov.rb#L68-L69

[2021-06-25 05:48] rath3t commented on #144
I managed to get it working:
Instead of using
[code]
i wrote

[code]

[2021-07-02 22:55] #144 closed

[2021-08-11 08:31] gaga5lala commented on #129
I had the same issue since April. I've updated circleci and orb again, but the issue still here.

- circleci orb: codecov/codecov@1.2.5
- gem: codecov (0.5.2)

[code]

It looks like `s3target` is nil.
https://github.com/codecov/codecov-ruby/blob/master/lib/codecov/uploader.rb#L457

And I try to make the same request from my computer, I can get the correct uploading url.

[code]

[2021-10-30 08:59] tianhaoz95 opened #148 "Uploading report fails"
[code]

This happens around the time of 0.6.0, but reverting it didn't fix the issue, so I'm thinking if the paramter to the server has a breaking change?

See https://github.com/tianhaoz95/fastlane-plugin-flutter_version/runs/4054299473?check_suite_focus=true for the run and https://github.com/tianhaoz95/fastlane-plugin-flutter_version for source code

[2021-10-30 14:18] AlexWayfer commented on #148
I suggest you to move to the new uploader: https://about.codecov.io/blog/codecov-uploader-deprecation-plan/

Discussion about migrating for Ruby: https://community.codecov.com/t/integration-new-beta-uploader-and-simplecov-ruby/3243